<div>
  <h1>Temperature Monitor</h1>
  <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> {{message}}
</div>
    <form class="form-inline" [formGroup]="tempForm" noValidate (ngSubmit)="addTemperature(tempForm.value, tempForm.valid)" >
      <fieldset>
        <div class="input-group">
          <input type="number" class="form-control" formControlName="value"  name="temperature" id="temperature" placeholder="Add temperature...">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" [disabled]="!tempForm.controls.value.valid" >Add</button>
          </span>
        </div>
      <small [hidden]="tempForm.controls.value.valid" > * Required valid temperature value</small>
      </fieldset>
    </form>
    <hr/>
    <div class="progress">
      <div class="progress-bar" [ngClass]="{'progress-bar-danger':tempValues.length==8}" role="progressbar" [attr.aria-valuenow]="tempValues.length" aria-valuemin="0" aria-valuemax="8" [style.width]="(tempValues.length/8)*100 + '%'">
        {{tempValues.length}}
      </div>
    </div>
    <hr/>
    <ul class="list-group">
      <li class="list-group-item list-group-item-info" *ngFor="let temp of tempValues">{{temp}}</li>
    </ul>
    <hr />
    <section>
      <button class="btn btn-info" (click)="getMedianValue()">Get Median Temperature</button>
      <strong>Current Median:  {{medianTemperature}}</strong>
      <!-- display current media here-->
    </section>
</div>